<!DOCTYPE html>
<html lang="en" ng-app="todo-app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./src/todo.css">
    <link rel="icon" type="image/ico" href="./public/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js"></script>
    <script src="./src/appConfig.js"></script>
    <script src="./src/controllers/main.js"></script>
    <script src="./src/controllers/home.js"></script>
    <script src="./src/controllers/completed.js"></script>
    <script src="./src/controllers/remaining.js"></script>
    <script src="./src/controllers/details.js"></script>
    <title>Todo app</title>
</head>

<body>
    <div class="app-container" ng-controller="MainController">
        <h3>Todo</h3>

        <hr />

        <form ng-submit="addTodo()">
            <input class="field-input-task" type="text" placeholder="Enter new task here..." ng-model="todoTitle">
            <input class="btn-submit-task" type="submit" value="Add">
            <input class="btn-clear-completed-task" type="button" value="Clear Completed" ng-click="clearCompleted()"
                ng-disabled="areAllRemaining">
        </form>

        <div class="todo-body-container">
            <nav class="nav-bar">
                <a class="{{currentRoute==='home'?'active' : ''}}" href="#!/" ng-click="changeRoute('home')">Home</a>|
                <a class="{{currentRoute==='completed'?'active' : ''}}" href="#!/completed"
                    ng-click="changeRoute('completed')">Completed</a>|
                <a class="{{currentRoute==='remaining'?'active' : ''}}" href="#!/remaining"
                    ng-click="changeRoute('remaining')">Remaining</a>
            </nav>

            <div class="todo-list-container">
                <div class="completion-status {{areAllCompleted ? 'all-tasks-completed' : ''}}">
                    <span>{{countCompleted()}}</span> of <span>{{todos.length}}</span> completed.
                </div>
                <div class="bulk-task-change-container" ng-show="todos.length>0">
                    <a id="mark-all-completed"
                        class="{{!areAllCompleted ? 'mark-all-completed-link': 'mark-all-completed-link blocked'}}"
                        href="#" ng-click="markAllAs($event)">
                        Mark all as completed
                    </a>|
                    <a id="mark-all-remaining"
                        class="{{!areAllRemaining ? 'mark-all-remaining-link': 'mark-all-remaining-link blocked'}}"
                        href="#" ng-click="markAllAs($event)">
                        Mark all as remaining
                    </a>
                </div>
                <div ng-view></div>
            </div>
        </div>
    </div>

</body>

</html>