<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="http://localhost:8383/todos">
    <link rel="stylesheet" href="src/assets/style.css">
    <link rel="stylesheet" href="src/assets/bootstrap.css">
    <!-- <link rel="icon" type="image/ico" href="./public/favicon.ico"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-resource.min.js"></script>
    <script src="src/appConfig.js"></script>
    <script src="src/controllers/main.js"></script>
    <script src="src/controllers/home.js"></script>
    <script src="src/controllers/completed.js"></script>
    <script src="src/controllers/remaining.js"></script>
    <script src="src/controllers/details.js"></script>
    <title>Todo app</title>
</head>

<body>
    <div class="app-container" ng-controller="MainController">
        <h3>Todo</h3>

        <hr />

        <form ng-submit="addTodo()">
            <input class="field-input-task" type="text" placeholder="Enter new task here..." ng-model="todoTitle">
            <input class="btn-submit-task" type="submit" value="Add">
            <input class="btn-clear-completed-task" type="button" value="Clear Completed" ng-click="clearCompleted()"
                ng-disabled="areAllRemaining">
        </form>

        <div class="todo-body-container">
            <div class="wdth-pr-80 flx-cont flx-dir-row jst-cnt-s-b p-10">
                <div ng-repeat="statusCount in statusCounts">
                    <div class="ellipse {{ellipseClass[statusCount.status]}}">
                        <div class="square-box-1">{{statusCount.count}}</div>
                    </div>
                    <div class="p-5 fs-small">{{ellipseLabel[statusCount.status]}}</div>
                </div>
            </div>
            <div class="row brdr-tp-grey flx-al-c">
                <span>Show </span>
                <div class="custom-select mr-5 ml-5" ng-click="toggelDropdown()">
                    <div class="custom-select-value flx-cont flx-al-c">
                        <div class="clip-overflow-text">
                            {{selectOptions[selectedStatus].label}}</div><span class="ml-10"><svg aria-hidden="true"
                                focusable="false" data-prefix="fas" data-icon="chevron-down"
                                class="svg-inline--fa fa-chevron-down fa-w-14" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="10px" height="10px">
                                <path fill="currentColor"
                                    d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                                </path>
                            </svg></span>
                    </div>
                    <ul class="custom-select-menu {{isSelectMenuOpen?'display-block':'display-none'}}">
                        <li class="custom-option {{selectedStatus===$index?'selected-option':''}}"
                            ng-repeat="option in selectOptions" ng-click="handleStatusOptionClick($index)">
                            {{option.label}}</li>
                    </ul>
                </div>
                <span> todos</span>
            </div>

            <div class="todo-list-container">
                <div class="completion-status {{areAllCompleted ? 'all-tasks-completed' : ''}}">
                    <!-- <span>{{countCompleted()}}</span> of <span>{{todos.length}}</span> completed. -->
                </div>
                <div ng-view></div>
            </div>
        </div>
    </div>

</body>

</html>