<div ng-controller="homeController">   
    <ul class="todo-list">
        <li class="todo-item" ng-repeat="todoItem in todos" >
            <div class="item-container" ng-click="changeStatus(todoItem)">
                <div class="item-wrapper">
                    <input class="task-checkbox" type="checkbox" ng-model="todoItem.completed">
                    <div class="added-task {{todoItem.completed}}">{{todoItem.title}}</div>
                </div>
            </div>
            <div class="buttons-wrapper">
                <button class="task-view-button"><a class="task-view-link" href="#!/{{todoItem.id}}">view</a></button>
                <input class="btn-delete-task" type="button" value="Delete" ng-click="deleteTask(todoItem.id)" >
            </div>
        </li>
    </ul>
</div>